.keyboard {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #111;
	border-radius: 0.75em;
	box-shadow: 0 0.25em 1.5em #000a;
	padding: 1em;
}
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 0.5em;
	width: 100%;
	max-width: 600px;
}
.key {
	border: medium solid #444;
	border-radius: 0.375em;
	height: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 1.3em;
	background: #222;
	color: white;
}
.key.pressed {
	border-color: #fff;
	background: #333;
}
.key:empty {
	opacity: 0;
	pointer-events: none;
}
